<!--skills -->
<div class="skills-agileinfo" id="skills">
	<div class="container">
		<h3 class="text-center"><%= t "profile.skills" %></h3>
		<div class="modal-spa">
			<div class="skills">
				<div class="row">
					<div class="col-lg-5 col-md-5 bar-grids bargrids-left">
						<h4> <%= t "profile.technical" %> </h4>
						<p>Vestibulum facilisis nisi sed libero consectetur, nec eleifend augue feugiat.
						Vivamus dictum quam id diam dapibus, a vehicula orci luctus.</p>
						<h6>web design  <span> 80% </span></h6>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" style="width: 80%">
							</div>
						</div>
						<h6>ui design & developer <span> 70% </span></h6>
						<div class="progress  w3-agile">
							<div class="progress-bar progress-bar-striped active" style="width: 70%">
							</div>
						</div>
						<h6>Javascript<span>90% </span></h6>
						<div class="progress  w3-agile">
							<div class="progress-bar progress-bar-striped active" style="width: 90%">
							</div>
						</div>
						<h6>Photoshop <span> 75% </span></h6>
						<div class="progress  w3-agile prgs-w3agile-last">
							<div class="progress-bar progress-bar-striped active" style="width: 75%">
							</div>
						</div>
					</div>
					<div class="col-lg-5 col-md-5 bar-grids  w3-agile">
						<h4><%= t "profile.hobbies.my_hobbies" %></h4>
						<p>Vestibulum facilisis nisi sed libero consectetur, nec eleifend augue feugiat.
							Vivamus dictum quam id diam dapibus, a vehicula orci luctus.</p>
							<div class="row">
								<div class="col-md-4 hobbies-grid1 grid1">
									<span class="fa fa-code"></span>
									<h5><%= t "profile.hobbies.coding" %></h5>
								</div>
								<div class="col-md-4 hobbies-grid1 grid2">
									<span class="fa fa-hourglass"></span>
									<h5><%= t "profile.hobbies.research" %></h5>
								</div>
								<div class="col-md-4 hobbies-grid1 grid3">
									<span class="fa fa-camera"></span>
									<h5><%= t "profile.hobbies.photography" %></h5>
								</div>
								<div class="clearfix"></div>

								<div class="col-md-4 hobbies-grid1 grid4">
									<span class="fa fa-plane"></span>
									<h5><%= t "profile.hobbies.traveling" %></h5>
								</div>
								<div class="col-md-4 hobbies-grid1 grid5">
									<span class="fa fa-headphones"></span>
									<h5><%= t "profile.hobbies.music" %></h5>
								</div>
								<div class="col-md-4 hobbies-grid1 grid5">
									<span class="fa fa-gamepad"></span>
									<h5><%= t "profile.hobbies.gamepad" %></h5>
								</div>							</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
</div>
		<!-- //skills -->
