<div class="w3l-banner">
	<div class="wthree-dot">
		<!-- //Header -->
		<div class="w3l-info">
			<li>
			<h1><%= t ("profile.my_name_is") %> <span><%= t("profile.name") %></span></h1>
			<p>
				<%= LeroleroGenerator.sentence(2) %>
			</p>
		</li>
		</div>
		<div class="w3l-info">
			<li>
			<h1><%= t ("profile.my_name_is") %> <span><%= t("profile.name") %></span></h1>
			<p>Etiam vitae augue odio. Ut laoreet ipsum vel ultrices viverra. Donec nisl dolor, mollis vel libero id. lorem ipsumvel ultrices viverra</p>
		</li>
		</div>
		<div class="w3l-info">
			<li>
			<h1><%= t ("profile.my_name_is") %> <span><%= t("profile.name") %></span></h1>
			<p>Etiam vitae augue odio. Ut laoreet ipsum vel ultrices viverra. Donec nisl dolor, mollis vel libero id. lorem ipsumvel ultrices viverra</p>
		</li>
		</div>
	<div class="clearfix"></div>
	</div>
</div>
<!-- //banner -->
<%= render "about" %>
<%= render "skills" %>
<%= render "experiences" %>
<%= render "contact" %>
