<ul>
  <li>
  <%= link_to "https://facebook.com/carvalho.asamuel" do %>
    <%= fa_icon "facebook" %>
    <% end %>
  </li>
  <li>
  <%= link_to "https://twitter.com/acsammy" do %>
    <%= fa_icon "twitter" %>
    <% end %>
  </li>
  <li>
  <%= link_to "https://instagram.com/acsammy" do %>
    <%= fa_icon "instagram" %>
    <% end %>
  </li>
  <li>
  <%= link_to "https://linkedin.com/in/carvalhoasamuel" do %>
    <%= fa_icon "linkedin" %>
    <% end %>
    <li>
    <%= link_to "https://github.com/acsammy" do %>
      <%= fa_icon "github" %>
      <% end %>
    </li>
  </ul>
